{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.refund{
    border-top: 1px solid #e8e9eb;
}

h1{
    margin: 100px 0;
    font-weight: bold;
    color: black;
}

.ref-cont{
    line-hieght:2;
    font-size: 25px;
}
</style>
{% endblock style %}

{% block content %}

<div class='refund text-center'>
<div class = 'container'>
    <h1>Refund Policy</h1>
    <div class='ref-cont'>
    We firmly believe in the ability and quality of our service. If you had trouble enjoying the full benefits of our service we would be happy to work on those issues with you.

    If the technical support was not able to solve your problem, you can get your money back within two weeks of subscription

    Can I get a refund?
    If the technical support was not able to solve your problem, you can get your money back within two weeks of subscription

    </div>
    </div>
</div>
{% endblock content %}